.head {
    display: flex;
    flex-direction: column;
    width: 360px;
    padding: 32px 0;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    text-align: center;
    color: $black;

    .head__title {
        font-size: 72px;
    }

    .head__text {
        font-size: 42px;
    }
}