.input--field__container {
    width: 360px;
    height: 48px;
    margin-top: 16px;
    margin-bottom: 8px;
}

.input-field {
    width: 100%;
    height: 100%;
    background: $button-background;
    border-radius: 8px;
    padding: 12px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 18px;

    border: none;
    border-width: 0px;
    transition-property: border-bottom-width, height, padding-top, padding-bottom;
    transition-duration: $fast, $medium, $medium, $medium;
    transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
    transition-delay: 0s, 0s, 0s, 0s;

    color: $black;

    &.input-field--success {
        border-color: $success;
        border-bottom-width: 8px;
        border-style: solid;
    }

    &.input-field--error {
        border-color: $error;
        border-bottom-width: 8px;
        border-style: solid;
    }

    &:focus {
        outline: none;
    }

    &.hidden {
        height: 0px;
        overflow: hidden;
        padding: 0;
    }
}

.input-field__message {
    height: 16px;
    transition: height $fast ease-in-out;
    overflow: hidden;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 12px;

    &.input-field__message--error {
        color: $error;
    }

    &.input-field__message--warning {
        color: $warning;
    }

    &.hidden {
        height: 0px;
        padding: 0;
    }
}

.input-field__show-password {
    display: block;

    margin-top: -40px;
    margin-left: auto;
    margin-right: 16px;
    width: 32px;
    height: 32px;
    transform: scale(0, 0);
    transition: transform 0s ease-in;

    background: transparent;
    background-size: contain;
    background-position: center;
    background-image: url('../assets/eye-open.svg');

    border: none;

    &:focus {
        outline: none;
    }

    cursor: pointer;

    &.input-field__show-password--closed {
        background-image: url('../assets/eye-close.svg');
    }

    .form:not(.hidden) & {
        transition: transform $fast ease-in-out;
        transition-delay: $fast;
        transform: scale(1, 1);
    }
}